<html>
<head>
	<title>Survey Form</title>
	<link rel="stylesheet" type="text/css" href="style_result.css">
</head>
<body>
	<div id="wrapper">
		<div id="result">
			<h4><u>Submitted Information</u></h4>
			<p>Name: </p><%=name%>
			<p>Dojo Location: </p><%=location%>
			<p>Favorite Language: </p><%=lang%>
			<p>Comment: </p><%=comment%>
			<a href="/"><button>Go Back</button></a><br>
		</div>
	</div>
</body>
</html>